# Data Science Tools and Ecosystem

## Author
Erica Chang

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List commonly used libraries used by Data Scientists
- List popular languages that Data Scientists use
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Tensorflow

| Data Science Tools |
| ------------------ |
| MySQL |
| GitHub |
| Pixie Dust |

### Below are a few examples of evaluating arithmetic expressions in Python
1+3

pow(2, 9)

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335